{% extends "graphsBuilder/wrapper.html" %}
{% block content %}

    <h1>Список файлов</h1>

    <div id='filesList'>
        {% for file in measurementFiles %}
            <div>
                <label for="{{ file }}">
                    <a href="" onClick='event.preventDefault();delFile(this.parentNode)'>X</a>
                </label>
                <a href="" id='{{ file }}' onClick='event.preventDefault();sendFileName(this.id)'>{{ file }}</a><br>
            </div>
        {% endfor %}
    </div>

    <form enctype="multipart/form-data" method="post">{% csrf_token %}
      {{ form }}
      <input type="submit" value="Отправить" onClick='addFile();'></p>
    </form>

    <button id='btn1' type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

    <div id='myModal' class="modal bd-example-modal-lg">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="ct-chart ct-perfect-fourth"></div>
        </div>
      </div>
    </div>

<script type="text/javascript">
    var socket_url = 'ws://' + window.location.host + '/ws/graphs/';
    console.log(socket_url)

    var socket = new WebSocket(socket_url)

    socket.onmessage = function(event){
        if (JSON.parse(event.data)['action'] == 'delFile'){
            fileName = JSON.parse(event.data)['fileName'];
            document.getElementById(fileName).parentNode.remove();
        }
        else if (JSON.parse(event.data)['action'] == 'addFile'){
            fileName = JSON.parse(event.data)['fileName'] + '.txt';
            var fileDiv = document.createElement('div');
            fileDiv.innerHTML = "<label for='"+fileName+"'>" +
            "<a href='' onClick='event.preventDefault();delFile(this.parentNode)'>X</a>" +
            "</label>&nbsp;" +
            "<a href='' id='"+fileName+"' onClick='event.preventDefault();sendFileName(this.id)'>"+fileName+"</a><br>";
            document.querySelector('#filesList').appendChild(fileDiv);
        }
        else {
            var measures = JSON.parse(event.data);
            console.log(measures)
            drawGraph(measures);
            measures = 0;
        }
    }

    socket.onopen = function(event){
        console.log('socket opened', event)
    }

    socket.onclose = function(event){
        console.log('socket closed', event)
    }
</script>

<script type="text/javascript">
    function sendFileName(fileName){
        data = {
            'fileName': fileName,
            'addFileTrigger': '0',
            'delFileTrigger': '0'
        }
        socket.send(JSON.stringify(data));
    }

    function addFile(){
        fileNamePath = document.getElementById('id_file').value;
        fileName = fileNamePath.split('\\').pop();
        data = {
            'fileName': fileName,
            'addFileTrigger': '1',
            'delFileTrigger': '0'
        }
        socket.send(JSON.stringify(data));
    }

    function delFile(fileName){
        fileName = fileName.getAttribute('for');
        data = {
            'fileName': fileName,
            'addFileTrigger': '0',
            'delFileTrigger': '1'
        }
        socket.send(JSON.stringify(data));
    }
</script>


<script type="text/javascript">
  function drawGraph(measures){
    $(document).ready(function(){
       $('#btn1').trigger('click');
    });
    $('#myModal').on('shown.bs.modal', function () {
        var xMeasures = [];
        var yMeasures = [];

        for (i = 0; i < measures.length; i++) {
          if (i % 2 == 1){
            yMeasures.push(measures[i]);
          }
        }
        for (i = 0; i < measures.length; i++) {
          if (i % 2 == 0){
            xMeasures.push(measures[i]);
          }
        }

        var data = {
          labels: xMeasures,
          series: [
            {
              data: yMeasures
            }
          ]
        };

        lastXElem = xMeasures[xMeasures.length - 1];

        var options = {

          axisX: {
            labelInterpolationFnc: function(value) {
              return Math.round(value * 100) / 100;
            }
          }
        };

        new Chartist.Line('.ct-chart', data, options);
        xMeasures = [];
        yMeasures = [];
    });
  };
</script>


{% endblock %}
